@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
        .inputs{
            margin: 10px;
            ul {
                padding: 10px;
            }
        }
}